# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.cache
/dist
/lib
/website/node_modules
.DS_Store
/website/build
/website/static/js/codesandbox.js
/website/i18n
/.github/actions/pr-environment/node_modules
/.github/actions/release/node_modules