# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.parcel-cache
/dist
/coverage
/parcel-dist
/lib
/docs/.vitepress/cache
.DS_Store
/.github/actions/pr-environment/node_modules
/.github/actions/release-info/node_modules
*.log
/.temp-dist