/* your custom css */

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
}

.splash .header {
  background: #383751;
  padding: 40px;
  padding-bottom: 70px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .navPusher {
    padding-top: 66px;
  }
}

.navShadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fixedHeaderContainer {
  padding: 16px 0;
  min-height: 66px;
  transition: all ease 0.2s;
}

.splash .logo {
  max-width: 150px;
}

.splash .projectName {
  font-size: 30px;
  color: white;
  padding-top: 30px;
  font-weight: 300;
  padding-bottom: 20px;
}

.splash .projectTagLine {
  font-size: 18px;
  color: white;
  opacity: 0.7;
}

.splash .getStartedContainer {
  background: #eee;
  padding: 30px;
  text-align: center;
}

/*
rgb(41,128,185) blue
rgb(255,190,83) yellow
rgb(255,97,56) orange
*/

.primary-button,
.secondary-button {
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  border: none;
}

.button {
  transition: none;
  border-radius: 0px;
  border: none;
  padding: 10px 20px;
  text-transform: none;
}

.button:hover {
  opacity: 0.8;
}

.arrow-next {
  margin-left: 4px;
}

.arrow-prev {
  margin-right: 4px;
}

.primary-button:hover,
.secondary-button:hover {
  opacity: 0.8;
}

.docs-next {
  background: rgb(41, 128, 185) !important;
  border-radius: 3px;
  color: white !important;
}

.docs-prev {
  color: rgb(41, 128, 185) !important;
  background: white !important;
}

.primary-button {
  background: rgb(41, 128, 185);
  border-radius: 3px;
  color: white !important;
}

.toc .toggleNav ul li.navListItemActive a {
  color: rgb(41, 128, 185) !important;
}

.secondary-button {
  color: rgb(41, 128, 185) !important;
}

.headerTitleWithLogo {
  font-weight: 300;
}

.features {
  display: flex;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.headerWrapper header > a {
  color: white !important;
}

a {
  text-decoration: none;
  color: rgb(41, 128, 185);
}

a:hover {
  color: rgb(41, 128, 185);
  opacity: 0.8;
}

.betaNotification a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.features > div {
  width: calc(100% / 3);
  margin: 30px;
}

@media only screen and (max-width: 800px) {
  .features {
    display: block;
  }
  .features > div {
    width: calc(100% - 60px);
  }
  .seeItInAction {
    display: block !important;
    margin-top: 60px !important;
    margin-bottom: 80px !important;
  }
  .seeItInActionText {
    margin-left: 0px !important;
    margin-top: 60px;
  }
}

@media only screen and (max-width: 425px) {
  .getStartedContainer a {
    display: block !important;
  }
}

.features h4 {
  margin-top: 0px;
}

/* .headerWrapper header::before {
  content: "🚧 UNDER CONSTRUCTION - CHECK BACK LATER";
  font-weight: 900;
  padding: 6px 20px;
  margin-right: 20px;
  background: white;
  color: darkgoldenrod;
  border-radius: 30px;
  display: block;
} */

.headerTitleWithLogo::after {
  content: "beta";
  margin-left: 10px;
  font-weight: 500;
  transform: translateY(-1px);
  position: absolute;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 10px;
  background: #484761;
  color: white;
}

.beta {
  margin-left: 4px;
  font-weight: 500;
  transform: translateY(-1px);
  position: absolute;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 10px;
  background: #484761;
  color: white;
}

.betaNotification {
  padding: 40px;
  color: white;
  background: #484761;
}

.betaNotification > div {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.seeItInAction {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  text-align: center;
  width: calc(100% - 60px);
  display: flex;
  margin-top: 40px;
  margin-bottom: 100px;
}

.seeItInActionText {
  font-size: 28px;
  margin-left: 70px;
  text-align: center;
  display: block;
  flex-grow: 1;
}

.seeItInActionText b {
  display: block;
}

.actionThumbnail {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 68.11%;
  display: block;
  cursor: pointer;
  transition: all ease 0.2s;
}
.actionThumbnail:hover {
  opacity: 1;
  transform: scale(1.02);
}
.actionThumbnail:hover::before {
  opacity: 0.4;
}

.actionThumbnail::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: all ease 0.1s;
  z-index: 1;
  opacity: 0.2;
}
.actionThumbnail::after {
  content: "";
  display: block;
  border: 17px solid transparent;
  border-left-width: 25px;
  border-left-color: rgb(40, 44, 52);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-22%, -50%);
  z-index: 2;
}

.actionThumbnail img {
  position: absolute;
  top: -10.2%;
  left: -10.45%;
  width: 120.9%;
  max-width: unset;
}

/* .stackblitz {
  border-radius: 5px;
  border: 1px solid #999;
  overflow: hidden;
  height: 600px;
  padding: 0px !important;
  color: rgb(25, 28, 30) !important;
  position: relative;
  display: block;
} */

details {
  background: #f5f5f5;
  border-radius: 3px;
}

details summary {
  cursor: pointer;
  padding: 15px 20px;
  outline: none;
}

details[open] summary {
  padding-bottom: 0px;
}

.codesandbox-link {
  display: inline-block;
  position: absolute;
  right: 0px;
  font-size: 13px;
  background: rgba(100, 100, 100, 0.1);
  color: #555 !important;
  opacity: 1 !important;
  padding: 5px 15px;
  text-align: right;
}

.codesandbox-link:hover {
  color: #222 !important;
}

.codesandbox-link.top {
  border-radius: 0px 3px 0px 6px;
}

.codesandbox-link.bottom {
  border-radius: 6px 0px 3px 0px;
  margin-top: -29px;
}
