body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
}

.splash .header {
  background: #383751;
  padding: 40px;
  padding-bottom: 70px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .navPusher {
    padding-top: 66px;
  }

  .onPageNav {
    top: 105px;
  }
}

body {
  background: #20232a;
}

body > * {
  background: white;
}

.navShadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fixedHeaderContainer {
  padding: 16px 0;
  min-height: 66px;
  transition: all ease 0.2s;
}

.splash .logo {
  max-width: 150px;
}

.splash .projectName {
  font-size: 30px;
  color: white;
  padding-top: 30px;
  font-weight: 300;
  padding-bottom: 20px;
}

.splash .projectName:after {
  content: "next";
  transform: translateY(-1px);
  position: absolute;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 10px;
  background: #484761;
  color: #fff;
  font-weight: 500;
}

.splash .projectTagLine {
  font-size: 18px;
  color: white;
  opacity: 0.7;
}

.splash .getStartedContainer {
  background: #eee;
  padding: 30px;
  text-align: center;
}

.nav-footer {
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-footer .copyright {
  color: rgba(255, 255, 255, 0.6);
}

.nav-footer .copyright a {
  color: rgba(255,255,255,.8);
  border-bottom: 1px solid rgba(255,255,255,.5);
}

.primary-button,
.secondary-button {
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  border: none;
}

.button {
  transition: none;
  border-radius: 0px;
  border: none;
  padding: 10px 20px;
  text-transform: none;
}

.button:hover {
  opacity: 0.8;
}

.arrow-next {
  margin-left: 4px;
}

.arrow-prev {
  margin-right: 4px;
}

.primary-button:hover,
.secondary-button:hover {
  opacity: 0.8;
}

blockquote {
  color: #666;
  border-radius: 4px;
}

.docs-next {
  background: rgb(36, 112, 163) !important;
  border-radius: 3px;
  font-size: 16px;
  color: white !important;
}

.docs-prev {
  font-size: 16px;
  color: rgb(36, 112, 163) !important;
  background: white !important;
}

.primary-button {
  background: rgb(36, 112, 163);
  border-radius: 3px;
  color: white !important;
}

.toc .toggleNav ul li.navListItemActive a {
  color: rgb(36, 112, 163) !important;
}

.secondary-button {
  color: rgb(36, 112, 163) !important;
}

.headerTitleWithLogo {
  font-weight: 300;
}

.features {
  display: flex;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.betaNotification {
    padding: 40px;
    color: #fff;
    background: #484761;
}

.betaNotification a {
    color: #fff !important;
    border-bottom: 1px solid rgba(255,255,255,.8);
}

.betaNotification > div {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.headerWrapper header > a {
  color: white !important;
}

a {
  text-decoration: none;
  color: rgb(36, 112, 163);
}

a:hover {
  color: rgb(36, 112, 163);
  opacity: 0.8;
}

.post a:hover, .docsNavContainer a:hover, .onPageNav a:hover {
  text-decoration: underline;
}

.features > div {
  width: calc(100% / 3);
  margin: 30px;
}

@media only screen and (max-width: 800px) {
  .features {
    display: block;
  }
  .features > div {
    width: calc(100% - 60px);
  }
  .seeItInAction {
    display: block !important;
    margin-top: 60px !important;
    margin-bottom: 80px !important;
  }
  .seeItInActionText {
    margin-left: 0px !important;
    margin-top: 60px;
  }
}

@media only screen and (max-width: 425px) {
  .getStartedContainer a {
    display: block !important;
  }
}

.headerWrapper a[href="https://typehero.org/ready-for-production-type-route-v1/01"] {
  background: #484761 !important;
  border-radius: 3px;
  color: white !important;
  margin-left: 15px !important;
  display: inline-block !important;
  height: 34px !important;
  line-height: 34px !important;
  padding: 0px 15px !important;
}

.headerWrapper a[href="https://typehero.org/ready-for-production-type-route-v1/01"]::after {
  content: '→';
  margin-left: 8px;
}

.navigationWrapper a {
  font-weight: 400 !important;
}

.navigationSlider .slidingNav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aa-dropdown-menu {
  z-index: 99999 !important;
}

input#search_input_react {
  background-color: rgba(0,0,0,0) !important;
  font-size: 1em !important;
  font-weight: 100 !important;
  width: 101px;
  transition: all ease .3s;
  padding-left: 40px !important;
  transform: translateY(1px);
  margin-right: 0px;
}

@media only screen and (max-width: 1024px) {
  input#search_input_react {
    background-color: rgba(0,0,0,.15) !important;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

input#search_input_react:focus {
  background-color: rgba(0,0,0,.15) !important;
  margin-right: 9px;
}

input#search_input_react:not(:focus):hover {
  cursor: pointer;
}

.headerWrapper a {
  color: rgba(255, 255, 255, 0.8) !important;

}

input#search_input_react::placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
}

input#search_input_react:not(:focus):hover::placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

.navSearchWrapper::before {
  border-width: 1px;
  width: 8px;
  height: 8px;
  top: 16px;
  left: 26px;
}

.navSearchWrapper::after {
  width: 1px;
  left: 36px;
  top: 18px;
  transform: rotate(-45deg);
}

.features h4 {
  margin-top: 0px;
}

/* body:after {
  content: "🚧 Under Construction - Check Back Later 🚧";
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
} */

.headerTitleWithLogo::after {
  content: "next";
  margin-left: 10px;
  font-weight: 500;
  transform: translateY(-1px);
  position: absolute;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 10px;
  background: #484761;
  color: white;
}

.seeItInAction {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  text-align: center;
  width: calc(100% - 60px);
  display: flex;
  margin-top: 40px;
  margin-bottom: 100px;
}

.seeItInActionText {
  font-size: 28px;
  margin-left: 70px;
  text-align: center;
  display: block;
  flex-grow: 1;
}

.seeItInActionText b {
  display: block;
}

.actionThumbnail {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 60.11%;
  display: block;
  cursor: pointer;
  transition: all ease 0.2s;
}
.actionThumbnail:hover {
  opacity: 1;
  transform: scale(1.02);
}
.actionThumbnail:hover::before {
  opacity: 0.4;
}

.actionThumbnail::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: all ease 0.1s;
  z-index: 1;
  opacity: 0.2;
}
.actionThumbnail::after {
  content: "";
  display: block;
  border: 17px solid transparent;
  border-left-width: 25px;
  border-left-color: rgb(40, 44, 52);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-22%, -50%);
  z-index: 2;
}

nav.toc a,
.onPageNav a {
  color: #666 !important;
}

.actionThumbnail img {
  position: absolute;
  top: -10.2%;
  left: -10.45%;
  width: 120.9%;
  max-width: unset;
}

details {
  border-radius: 3px;
}

details summary {
  background: #f7f7f7;
  cursor: pointer;
  padding: 15px 20px;
}

.codesandbox-link {
  display: inline-block;
  position: absolute;
  right: -9px;
  font-size: 13px;
  z-index: 3;
  background: #fff;
  color: #555 !important;
  padding: 5px 15px;
  opacity: .9 !important;
  font-weight: 400;
  text-align: right;
  border-radius: 15px;
  border: 1px solid #eee;
}

.codesandbox-link:hover {
  opacity: 1 !important;
  text-decoration: none !important;
  color: #111 !important;
  border: 1px solid #ddd;
}

.codesandbox-link.top {
  margin-top: 8px;
}

.codesandbox-link.bottom {
  margin-top: -37px;
}

code.hljs {
  background: #fcfcfc;
  border: 1px solid #eee;
  margin-left: -16px;
  margin-right: -16px;
  font-size: 14px;
  line-height: 22px;
}

.edit-page-link {
  font-weight: 400;
  font-size: 14px;
  background: #fff;
  color: #555 !important;
  padding: 5px 15px;
  display: inline-block;
  opacity: .9 !important;
  border-radius: 15px;
  border: 1px solid #eee;
}

.edit-page-link:after {
  content: " page";
}

.edit-page-link:hover {
  background: #fff;
  opacity: 1 !important;
  text-decoration: none !important;
  color: #111 !important;
  border: 1px solid #ddd;
}

code .above-highlight {
  position: relative;
  z-index: 2;
}

.line-highlight {
  position: absolute;
  height: 22px;
  pointer-events: none;
  background: #edf3fa;
  border-left: 3px solid #cddffe;
  border-right: 3px solid #cddffe;
  z-index: 1;
  left: -17px;
  right: -17px;
}