:root {
    --vp-c-brand: #2e90d0;
    --vp-c-brand-light: #459cd6;
    --vp-c-brand-lighter: #5ca9db;
    --vp-c-brand-dark: #2980b9;
    --vp-c-brand-darker: #2573a6;

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
      120deg,
      #2980b9 30%,
      #5ca9db
    );
    --vp-home-hero-image-background-image: linear-gradient(
        -60deg,
        rgba(100,100,100,.2) 10%,
        rgba(0,0,0,.2)
    );
    --vp-home-hero-image-filter: blur(50px);
}

.vp-code-group {
  position: relative;
}

.codesandbox-link {
  border: 1px solid var(--vp-button-brand-border);
  text-decoration: none !important;
  color: var(--vp-button-brand-text) !important;
  background-color: var(--vp-button-brand-bg);
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  border-radius: 4px;
  padding: 0 14px;
  line-height: 30px;
  font-size: 14px;
  display: block;
  position: absolute;
  right: 8px;
  top: 8px;
}

.version {
  font-size: 10px;
  font-weight: 700;
  padding: 0px 5px;
  background: var(--vp-c-gray-light-5);
  border: 1px solid var(--vp-c-gray-light-3);
  opacity: .8;
  line-height: 14px;
  margin-left: 10px;
  border-radius: 7px;
}